.footer {
  background: var(--darkBlue);
  color: var(--white);
  padding: 2em 0;
  text-align: center;

  &__logo {
    display: block;
    margin: auto;
    margin-bottom: 2em;
    path:nth-child(0) {
      fill: wheat;
    }
  }

  .footer__link {
    display: block;
    color: var(--gray);
    text-decoration: none;
    margin-bottom: 2em;
  }

  &__social {
    display: grid;
    grid-template-columns: repeat(5, 25px);
    grid-column-gap: 1em;
    justify-content: center;
    margin: 2.5em 0;
  }

  &__copyright {
    color: var(--grayBlue);
    margin-top: 2.5em;
  }

  /**
  Social icons
  */
  @mixin icon {
    width: 25px;
    height: 25px;
    display: inline-flex;
    background-repeat: no-repeat;
  }

  .icon {
    &__facebook {
      @include icon;
      background-image: url("../images/icon-facebook.svg");
    }
    &__youtube {
      @include icon;
      background-image: url("../images/icon-youtube.svg");
    }
    &__twitter {
      @include icon;
      background-image: url("../images/icon-twitter.svg");
    }
    &__pinterest {
      @include icon;
      background-image: url("../images/icon-pinterest.svg");
    }
    &__instagram {
      @include icon;
      background-image: url("../images/icon-instagram.svg");
    }
  }

  @media screen and (min-width: 1024px) {
    .wrapper {
      display: grid;
      column-gap: 7em;
      grid-template-columns: 200px 1fr 400px;
      grid-template-areas: "logo links button" "social links copyright";
    }

    &__logo {
      grid-area: logo;
      margin: initial;
      // border: 1px solid green;
    }

    &__links {
      grid-area: links;
      // border: 1px solid salmon;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-items: start;
    }

    &__social {
      grid-area: social;
      // border: 1px solid pink;
    }

    &__button {
      grid-area: button;
      // border: 1px solid white;
      text-align: right;
    }

    &__copyright {
      grid-area: copyright;
      // border: 1px solid blue;
      text-align: right;
    }
  }
}
