.menu {
  // border: 1px solid red;
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;

  &__button {
    width: 40px;
    height: 40px;
    background: url("../images/icon-hamburger.svg") no-repeat center;
  }

  a {
    text-decoration: none;
    color: var(--darkBlue);
    padding: 0 0.8em;
  }

  &__item {
    display: flex;
    align-items: center;
  }

  &__checkbox {
    display: none;

    &:checked {
      & ~ .menu__button {
        background: url("../images/icon-close.svg") no-repeat center;
      }

      & ~ .menu {
        display: block;
        position: absolute;
        z-index: 100;
        top: 100%;
        padding: 1em;
        left: 0;
        right: 0;
        height: 100vh;
        background: linear-gradient(
          to bottom,
          var(--darkBlue) 0%,
          transparent 90%
        );

        .menu__item {
          display: block;

          &:first-child a {
            padding-top: 2em;
            border-radius: 0.3em 0.3em 0 0;
          }

          &:last-child a {
            padding-bottom: 2em;
            border-radius: 0 0 0.3em 0.3em;
          }
        }

        a {
          color: var(--darkBlue);
          background: white;
          padding: 0.8em 1em;
          font-size: 1.1em;
          display: block;
          text-align: center;
        }
      }
    }
  }

  @media screen and (min-width: 1024px) {
    display: flex;
    &__button {
      display: none;
    }
  }
}
